<h1>New task</h1>

<%= link_to tasks_path do %>
  Back to task list
<% end %>
<%# has to be a form %>
<%= form_with task: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>
